# 	(c) Vsetech Company, 2005-2006
#
#	This is a configuration file that defines the variables needed to
#	perform network training and requesting (teaching and asking) by nnt
#	tool.
#	This config file has the standard Java properties format, so you may
#	set variables like "name=value", and use "#" sign for disabling
#	settings or for comments.
#	All "db" related variables may be omitted if you pass data from the command
#	line.
#
#	Name of the JDBC driver class
#	To get read-only access to the comma separated data, try the CSV JDBC
#	driver, for example the one that can be found at
#	http://csvjdbc.sourceforge.net:
dbdriver=org.relique.jdbc.csv.CsvDriver
#	To access some ODBC data sources, try the JDBC-ODBC driver, like this
#dbdriver=sun.jdbc.odbc.JdbcOdbcDriver
#	To access the database server, it's advised to use the driver that is
#	designed specifically for that particular database.
#	This is the Firebird RDBMS example
#dbdriver=org.firebirdsql.jdbc.FBDriver


#	JDBC URL to the database
#	Sourceforge CsvJdbc example (when using this driver, the .csv file
#	name goes to "dbtable" variable described below, without ".csv"
#	extension)
dburl=jdbc:relique:csv:data/
#	MS Access example
#dburl=jdbc:odbc:Driver=Microsoft Access Driver (*.mdb);DBQ=C:/some.mdb
#	Firebird RDBMS example
#dburl=jdbc:firebirdsql:localhost/3050:C:/some.fdb


#	If the DB server requires it, you may pass the username and password
#	through these variables
#dbuser=SYSDBA
#dbpassword=masterkey


#	The name of the table in the database, which is the source for the
#	neural network teaching, and possibly the destination for the results
#	of asking.
#	This setting is used to construct a SQL "update" statement; if the
#	dbquery is omitted, this is also the table used in the "select"
#	statement.
dbtable=xor
#dbtable=simlpeApp


#	The SQL query to use as the data source for teaching. You may use this
#	variable to limit the training set, or to specify the appropriate
#	order of teaching cases to be fed to the network, or anything else.
#	If you name the fields in the query explicitly (not with an asterisk
#	sign), be sure to include all the fields defined in the neural
#	network's translator. Include the ID fields, if you wish to update the
#	table and set the dbidfields variable.
#	If you omit this setting, the query will be constructed from the
#	dbtable variable as "select * from {dbtable}"
#	The system doesn't check if the table names in the dbquery and dbtable
#	are the same.
#dbquery=select age,gender,income,education,goodbad from test

#	If you wish to record the network's answers to the database table,
#	specify the names of the fields, whose values uniquely identify every
#	record, separated by commas.
#	If you omit this setting, the system will construct the SQL update
#	statement using all the input field names and values of the neural
#	network. This will overwrite more than one record in the data source,
#	if those records have the same values in the network input fields
#dbidfields=x1,x2

#	The name of the neural network to teach, test or ask.
#	In the free version of nnt is ignored and NeuralNetwork.nn is used
#network=simpleApp.nn
network=NeuralNetwork.nn
#	In the Enterprise version of nnt, to ask, to test or to teach the
#	neural network that resides on the server, you may specify the name of
#	the network as follows:
#network=neuro://localhost:3333/Xor.xml

#	The names of the attribites to output to the teaching progress file. 
#	The  file is named <networkname>.progress and contains specified tab 
# 	separated numeric values.
#	Possible attributes names are:
#		network.<parameter>
#		<neuron or synapse name>.weight
#		<neuron name>.<parameter>
#		<synapse name>.<parameter>
#	, where <parameter> is the name parameter of network's teacher, 
#	neuron's or synapse's statistic object or neuron activation object.
#	The name of the neuron has the form "N-x", where "x" is the ordinal 
#	number of the neuron in the network.
#	The synapse's name is "S-x-y", where "x" is the number of the synapse's
#	output neuron, and "y" is the ordinal number of this synapse as that 
#	neuron's input.
#progressvalues=N-5.weight S-5-1.weight