#	This is an optional variable, which may take only one value in the
#	current version, com.weighscore.neuro.XmlFileOrigin; this is the default.
#	This is the name of the class that helps to serialize neural networks
#	to xml streams
neuralNetwork.origin=XmlFileOrigin

#	The path to the directory where the neural networks and translators
#	xml definition files are stored.
#	The path must end with the slash character. Use forward slashes ('/')
#	even on the Windows platform.
#	If omitted, the current directory is used.
neuralNetwork.origin.xml.path=C:/Users/fedd/work/projects/neuro/data/neuralareas/test/
