#dburl=jdbc:odbc:Driver=Microsoft Access Driver (*.mdb);DBQ=C:/Users/fedd/work/projects/neuro/data/testing.mdb
dburl=jdbc:odbc:Driver=Microsoft Access Driver (*.mdb);DBQ=C:/Users/fedd/work/projects/neuro/data/alfa/nlo/backoffice.mdb
#dburl=jdbc:firebirdsql:localhost/3050:C:/Program Files/Firebird/bin/XOR

#dbuser=SYSDBA
#dbpassword=masterkey
#dbtable=TEST
dbtable=appneuro

dbdriver=sun.jdbc.odbc.JdbcOdbcDriver
#dbdriver=org.firebirdsql.jdbc.FBDriver

#dbquery=select * from xor

#dbidfields=X1,X2
dbidfields=x1,x2
#network=Xor.nn
network=AlfaTryGrow.nn
